# Lecture 4 â€“Fall 2023

A demonstration of advanced `pandas` syntax to accompany Lecture 4.

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
!pip install plotly

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

## Dataset: California baby names

In today's lecture, we'll work with the `babynames` dataset, which contains information about the names of infants born in California.

The cell below pulls census data from a government website and then loads it into a usable form. The code shown here is outside of the scope of Data 100, but you're encouraged to dig into it if you are interested!

In [2]:
import urllib.request
import os.path
import zipfile

data_url = "https://www.ssa.gov/oact/babynames/state/namesbystate.zip"
local_filename = "babynamesbystate.zip"
if not os.path.exists(local_filename): # If the data exists don't download again
    with urllib.request.urlopen(data_url) as resp, open(local_filename, 'wb') as f:
        f.write(resp.read())

zf = zipfile.ZipFile(local_filename, 'r')

ca_name = 'CA.TXT'
field_names = ['State', 'Sex', 'Year', 'Name', 'Count']
with zf.open(ca_name) as fh:
    babynames = pd.read_csv(fh, header=None, names=field_names)

babynames.head()

  State Sex  Year      Name  Count
0    CA   F  1910      Mary    295
1    CA   F  1910     Helen    239
2    CA   F  1910   Dorothy    220
3    CA   F  1910  Margaret    163
4    CA   F  1910   Frances    134

In [3]:
babynames.head(10)

  State Sex  Year       Name  Count
0    CA   F  1910       Mary    295
1    CA   F  1910      Helen    239
2    CA   F  1910    Dorothy    220
3    CA   F  1910   Margaret    163
4    CA   F  1910    Frances    134
5    CA   F  1910       Ruth    128
6    CA   F  1910     Evelyn    126
7    CA   F  1910      Alice    118
8    CA   F  1910   Virginia    101
9    CA   F  1910  Elizabeth     93

### Exercises
We want to obtain the first three baby names with `count > 250`.

1.Code this using head()

2.Code this using loc

3.Code this using iloc

4.Code this using []

In [4]:
#1 
head = babynames[babynames["Count"] > 250 ].head(3)
head

    State Sex  Year  Name  Count
0      CA   F  1910  Mary    295
233    CA   F  1911  Mary    390
484    CA   F  1912  Mary    534

In [5]:
#2
Loc = babynames.loc[babynames["Count"] > 250].iloc[:3]
Loc

    State Sex  Year  Name  Count
0      CA   F  1910  Mary    295
233    CA   F  1911  Mary    390
484    CA   F  1912  Mary    534

In [6]:
#3
iLoc = babynames[babynames["Count"] > 250].iloc[:3]
iLoc

    State Sex  Year  Name  Count
0      CA   F  1910  Mary    295
233    CA   F  1911  Mary    390
484    CA   F  1912  Mary    534

In [7]:
#4
brakets = babynames[babynames["Count"] > 250][:3]
brakets

    State Sex  Year  Name  Count
0      CA   F  1910  Mary    295
233    CA   F  1911  Mary    390
484    CA   F  1912  Mary    534

### `.isin` for Selection based on a list, array, or `Series`

In [8]:
# Note: The parentheses surrounding the code make it possible to break the code into multiple lines for readability
babynames[(babynames["Name"] == "Bella") |
              (babynames["Name"] == "Alex") |
              (babynames["Name"] == "Narges") |
              (babynames["Name"] == "Lisa")]
names =[ "Bella","Alex","Narges","Lisa"]
names

['Bella', 'Alex', 'Narges', 'Lisa']

In [9]:
# A more concise method to achieve the above: .isin

a = babynames[babynames["Name"].isin(names)]
a

       State Sex  Year   Name  Count
6289      CA   F  1923  Bella      5
7512      CA   F  1925  Bella      8
12368     CA   F  1932   Lisa      5
14741     CA   F  1936   Lisa      8
17084     CA   F  1939   Lisa      5
...      ...  ..   ...    ...    ...
399773    CA   M  2019   Alex    438
402648    CA   M  2020   Alex    379
405452    CA   M  2021   Alex    334
408335    CA   M  2022   Alex    345
411228    CA   M  2023   Alex    329

[321 rows x 5 columns]

### `.str` Functions for Defining a Condition

In [10]:
# What if we only want names that start with "J"?
a = babynames[babynames["Name"].str.startswith("J")]
a

       State Sex  Year       Name  Count
16        CA   F  1910  Josephine     66
44        CA   F  1910       Jean     35
46        CA   F  1910     Jessie     32
59        CA   F  1910      Julia     28
66        CA   F  1910    Juanita     25
...      ...  ..   ...        ...    ...
413714    CA   M  2023         Jj      5
413715    CA   M  2023  Johnathon      5
413716    CA   M  2023     Jorden      5
413717    CA   M  2023      Jozef      5
413718    CA   M  2023    Juliano      5

[35170 rows x 5 columns]

# Custom Sort

In [11]:
# Sort a Series Containing Names
sorte = babynames.sort_values("Name")
sorte

       State Sex  Year     Name  Count
387660    CA   M  2014    Aadan      5
369654    CA   M  2008    Aadan      7
372774    CA   M  2009    Aadan      6
401876    CA   M  2019  Aadarsh      6
388799    CA   M  2015    Aaden     34
...      ...  ..   ...      ...    ...
232190    CA   F  2020    Zyrah      5
220708    CA   F  2017    Zyrah      6
217445    CA   F  2016    Zyrah      5
197542    CA   F  2011    Zyrah      5
408216    CA   M  2021    Zyrus      5

[413894 rows x 5 columns]

In [12]:
# Sort a DataFrame â€“ there are lots of Michaels in California
sorteee = babynames.sort_values(by = "Count",ascending=True)
sorteee

       State Sex  Year      Name  Count
413893    CA   M  2023      Zyir      5
119816    CA   F  1991    Jewels      5
119815    CA   F  1991  Jessilyn      5
119814    CA   F  1991   Jericha      5
119813    CA   F  1991      Jeri      5
...      ...  ..   ...       ...    ...
286795    CA   M  1970   Michael   8197
285500    CA   M  1969   Michael   8244
321036    CA   M  1990   Michael   8247
270669    CA   M  1956   Michael   8257
271693    CA   M  1957   Michael   8263

[413894 rows x 5 columns]

### Approach 1: Create a temporary column

In [13]:
# Create a Series of the length of each name
length = babynames["Name"].str.len()
# Add the Series as a new column to the DataFrame
babynames["Name_Length"] = length
# Sort the DataFrame by the new column
babynames = babynames.sort_values(by = "Name_Length",ascending= True)
babynames.head(10)

       State Sex  Year Name  Count  Name_Length
83016     CA   F  1979   Ji      5            2
331174    CA   M  1993   Vu      5            2
298821    CA   M  1978   Al     13            2
277555    CA   M  1962   Ty     55            2
404824    CA   M  2020   Jj      6            2
35741     CA   F  1956   Jo    381            2
242808    CA   F  2023   Bo      5            2
363478    CA   M  2006   Cy      9            2
130111    CA   F  1994   Vi      8            2
380198    CA   M  2012   Bo     24            2

In [14]:
# drop new column
babynames = babynames.drop(columns=["Name_Length"])
babynames

       State Sex  Year             Name  Count
83016     CA   F  1979               Ji      5
331174    CA   M  1993               Vu      5
298821    CA   M  1978               Al     13
277555    CA   M  1962               Ty     55
404824    CA   M  2020               Jj      6
...      ...  ..   ...              ...    ...
337819    CA   M  1996  Franciscojavier      8
325562    CA   M  1991  Franciscojavier      6
316193    CA   M  1987  Franciscojavier      5
317627    CA   M  1988  Franciscojavier     10
102512    CA   F  1986  Mariadelosangel      5

[413894 rows x 5 columns]

### Approach 2: Sorting using the `key` argument

---

In [15]:
# Answer Here
babynames.sort_values("Name",key= lambda x: x.str.len(),ascending=False)

       State Sex  Year             Name  Count
102512    CA   F  1986  Mariadelosangel      5
340954    CA   M  1997  Franciscojavier      5
348093    CA   M  2000  Franciscojavier      6
325441    CA   M  1991  Ryanchristopher      7
343125    CA   M  1998  Franciscojavier      6
...      ...  ..   ...              ...    ...
107301    CA   F  1988               An     13
253015    CA   M  1931               Ed     17
352911    CA   M  2002               An      7
258584    CA   M  1941               Ed     24
83016     CA   F  1979               Ji      5

[413894 rows x 5 columns]

### Approach 3: Sorting Using the `map` Function

We can also use the Python map function if we want to use an arbitrarily defined function. Suppose we want to sort by the number of occurrences of "dr" plus the number of occurences of "ea".

In [16]:

# Define a function to count occurrences of 'dr' and 'ea'
def dr_ea_count(string):
    return string.count('dr') + string.count('ea')
# Apply the function to each name in the "Name" column and add as a new column
babynames["dr_ea_count"] = babynames["Name"].map(dr_ea_count)
# Sort the DataFrame by the new column in descending order
babynames = babynames.sort_values(by = "dr_ea_count", ascending=False)
# Display the top rows
babynames.head()

       State Sex  Year      Name  Count  dr_ea_count
311780    CA   M  1985  Deandrea      6            3
131037    CA   F  1994  Leandrea      5            3
108738    CA   F  1988  Deandrea      5            3
101982    CA   F  1986  Deandrea      6            3
115965    CA   F  1990  Deandrea      5            3

In [17]:
# Drop the `dr_ea_count` column
babynames = babynames.drop(columns="dr_ea_count")
babynames

       State Sex  Year             Name  Count
311780    CA   M  1985         Deandrea      6
131037    CA   F  1994         Leandrea      5
108738    CA   F  1988         Deandrea      5
101982    CA   F  1986         Deandrea      6
115965    CA   F  1990         Deandrea      5
...      ...  ..   ...              ...    ...
406511    CA   M  2021            Jordi     17
406508    CA   M  2021            Jamal     17
406618    CA   M  2021            Makoa     15
406619    CA   M  2021            Nakoa     15
102512    CA   F  1986  Mariadelosangel      5

[413894 rows x 5 columns]

## Grouping

Group rows that share a common feature, then aggregate data across the group.

In this example, we count the total number of babies born in each year (considering only a small subset of the data, for simplicity).

<img src="images/groupby.png" width="800"/>

In [18]:
# DataFrame with baby gril names only

babynames_girl = babynames[babynames["Sex"] == "F"]
print(babynames_girl,"\n")

#Groupby similar features like year and apply aggregate
grouped = babynames_girl.groupby(['Year']).agg(sum)
print(grouped)
# Sort by Count
# Sort by Count in descending order
sortgrouped = grouped.sort_values(by="Count", ascending=False)
sortgrouped

       State Sex  Year             Name  Count
131037    CA   F  1994         Leandrea      5
108738    CA   F  1988         Deandrea      5
101982    CA   F  1986         Deandrea      6
115965    CA   F  1990         Deandrea      5
105816    CA   F  1988           Andrea   1257
...      ...  ..   ...              ...    ...
64062     CA   F  1971            Karma     15
1592      CA   F  1915            Olive     44
64071     CA   F  1971            Rayna     15
64075     CA   F  1971            Tonja     15
102512    CA   F  1986  Mariadelosangel      5

[243190 rows x 5 columns]

       Count
Year
1910    5950
1911    6602
1912    9804
1913   11860
1914   13815
...      ...
2019  184384
2020  173966
2021  174190
2022  173353
2023  163845

[114 rows x 1 columns]

       Count
Year
1990  262422
1991  261497
1992  256788
1993  249572
1989  243985
...      ...
1914   13815
1913   11860
1912    9804
1911    6602
1910    5950

[114 rows x 1 columns]

In [19]:
# print first 10 entries
sortgrouped.head(10)

       Count
Year
1990  262422
1991  261497
1992  256788
1993  249572
1989  243985
1994  242484
2007  236219
2006  234748
1995  234581
2005  230396

In [20]:
# the total baby count in each year
total_count_per_year = babynames.groupby('Year').aggregate({'Count': 'sum'})
total_count_per_year

       Count
Year
1910    9163
1911    9983
1912   17946
1913   22094
1914   26926
...      ...
2019  387325
2020  363307
2021  363206
2022  361960
2023  342550

[114 rows x 1 columns]

There are many different aggregation functions we can use, all of which are useful in different applications.

In [21]:
# What is the earliest year in which each name appeared?
earliest_year_per_name = babynames.groupby('Name').aggregate({'Year': 'min'})
earliest_year_per_name

         Year
Name
Aadan    2008
Aadarsh  2019
Aaden    2007
Aadhav   2014
Aadhini  2022
...       ...
Zymir    2020
Zyon     1999
Zyra     2012
Zyrah    2011
Zyrus    2021

[20629 rows x 1 columns]

In [22]:
# What is the largest single-year count of each name?
largest_single_year_count_per_name = babynames.groupby('Name').aggregate({'Count': 'max'})
largest_single_year_count_per_name

         Count
Name
Aadan        7
Aadarsh      6
Aaden      158
Aadhav       8
Aadhini      6
...        ...
Zymir        5
Zyon        21
Zyra        28
Zyrah        6
Zyrus        5

[20629 rows x 1 columns]

In [23]:
#Can you find the most popular baby name in the state of California (CA) for each year? use idxmax function.
babynames_ca = babynames[babynames['State'] == 'CA']
babynames_ca
#Provide a list of years along with the corresponding most popular names."
result = babynames.groupby("Year")['Count'].idxmax()

most_popular_names = babynames_ca.loc[result]
most_popular_names

       State Sex  Year  Name  Count
0         CA   F  1910  Mary    295
233       CA   F  1911  Mary    390
484       CA   F  1912  Mary    534
243717    CA   M  1913  John    614
1120      CA   F  1914  Mary    773
...      ...  ..   ...   ...    ...
399666    CA   M  2019  Noah   2681
402534    CA   M  2020  Noah   2631
405331    CA   M  2021  Noah   2618
408217    CA   M  2022  Liam   2614
411112    CA   M  2023  Noah   2654

[114 rows x 5 columns]

## Case Study: Name "Popularity"

In this exercise, let's find the name with sex "F" that has dropped most in popularity since its peak usage. We'll start by filtering `babynames` to only include names corresponding to sex "F".

In [24]:
babynames_f = babynames[babynames['Sex'] == 'F']
babynames_f
babynames_f = babynames_f.sort_values(by = "Year")
type(babynames_f)

max_Jenni = babynames_f[babynames_f['Name'] == 'Jennifer'].agg(max)
max_Jenni

latest_Jenni = babynames_f[babynames_f['Name'] == 'Jennifer'].iloc[-1]
latest_Jenni

rtp_jenni = latest_Jenni['Count'] / max_Jenni['Count']
rtp_jenni

0.014509480626545754

In [29]:
# We sort the data by year
babynames_f = babynames_f.sort_values(by = "Year",ascending=True)
babynames_f

       State Sex  Year       Name  Count
95        CA   F  1910   Lorraine     17
63        CA   F  1910  Charlotte     26
221       CA   F  1910       Lila      5
101       CA   F  1910      Leona     15
222       CA   F  1910       Lina      5
...      ...  ..   ...        ...    ...
242301    CA   F  2023     Melodi      7
242384    CA   F  2023     Aaliya      6
242376    CA   F  2023     Yohana      7
242396    CA   F  2023     Aislyn      6
240568    CA   F  2023      Inara     28

[243190 rows x 5 columns]

To build our intuition on how to answer our research question, let's visualize the prevalence of the name "Jennifer" over time.

In [30]:
# We'll talk about how to generate plots in a later lecture
fig = px.line(babynames_f[babynames_f["Name"] == "Jennifer"],
              x = "Year", y = "Count")
fig.update_layout(font_size = 18,
                  autosize=False,
                 width=1000,
                  height=400)
fig.show()

In [31]:

grouped_data = babynames_f.groupby("Year")["Count"].sum().reset_index()
fig = px.line(grouped_data,
              x = "Year", y = "Count")
fig.update_layout(font_size = 18,
                  autosize=False,
                 width=1000,
                  height=400)
fig.show()

We'll need a mathematical definition for the change in popularity of a name.

Define the metric "ratio to peak" (RTP). We'll calculate this as the count of the name in 2022 (the most recent year for which we have data) divided by the largest count of this name in *any* year.

A demo calculation for Jennifer:

In [32]:
# babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

higest_count_per_year = babynames_f.groupby("Name")[["Count"]].agg(max)
higest_count_per_year
largest_count = higest_count_per_year.sort_values(by = "Count", ascending=False)
largest_count

          Count
Name
Jessica    6951
Linda      6759
Jennifer   6065
Ashley     4978
Lisa       4939
...         ...
Graci         5
Gracelin      5
Graceann      5
Goretti       5
Neyra         5

[13930 rows x 1 columns]

In [33]:
# Find the highest Jennifer 'count'
highest_count = babynames_f[babynames_f["Name"] == "Jennifer"]['Count'].max()
highest_count

6065

In [34]:
babynames
f_babynames = babynames[babynames['Sex']== 'F']
row_labels = f_babynames.groupby("Year")['Count'].idxmax()
row_labels
f_babynames.loc[row_labels,:]

       State Sex  Year    Name  Count
0         CA   F  1910    Mary    295
233       CA   F  1911    Mary    390
484       CA   F  1912    Mary    534
787       CA   F  1913    Mary    584
1120      CA   F  1914    Mary    773
...      ...  ..   ...     ...    ...
224911    CA   F  2019  Olivia   2610
228572    CA   F  2020  Olivia   2353
232191    CA   F  2021  Olivia   2406
235861    CA   F  2022  Olivia   2184
239573    CA   F  2023  Olivia   1969

[114 rows x 5 columns]

In [48]:
# Remember that we sorted f_babynames by year.
babynames_f = babynames_f.sort_values(by='Year')
babynames_f
# This means that grabbing the final entry gives us the most recent count of Jennifers: 114
jennifer_data = babynames_f[babynames_f['Name'] == 'Jennifer']
print(jennifer_data)
# In 2022, the most recent year for which we have data, 114 Jennifers were born
highest_count = jennifer_data['Count'].max()
print("Highest count for Jennifer: ",highest_count)
most_recent_count = jennifer_data['Count'].iloc[-1]
print("Most recent count for Jennifer: ", most_recent_count)

       State Sex  Year      Name  Count
13610     CA   F  1934  Jennifer      5
16325     CA   F  1938  Jennifer      5
16993     CA   F  1939  Jennifer      6
17533     CA   F  1940  Jennifer     13
18210     CA   F  1941  Jennifer     24
...      ...  ..   ...       ...    ...
225169    CA   F  2019  Jennifer    145
228809    CA   F  2020  Jennifer    141
232585    CA   F  2021  Jennifer     91
236162    CA   F  2022  Jennifer    115
239956    CA   F  2023  Jennifer     88

[87 rows x 5 columns]
Highest count for Jennifer:  6065
Most recent count for Jennifer:  88

In [51]:
def compute_rtp(count_series):

    highest_count = count_series.max()
    most_recent_count = count_series.iloc[-1]
    return most_recent_count / highest_count
# return (count_series.max() / count_series.iloc[-1])

# Construct a Series containing count data for Jennifer
jennifer_counts = jennifer_data['Count']

# Compute the RTP using the defined function
rtp = compute_rtp(jennifer_counts)
print("Ratio to Peak (RTP) for Jennifer: ",rtp)

Ratio to Peak (RTP) for Jennifer:  0.014509480626545754

We can also write a function that produces the `ratio_to_peak`for a given `Series`. This will allow us to use `.groupby` to speed up our computation for all names in the dataset.

In [56]:
# define the function for RTP

def compute_rtp(group):

    highest_count = group['Count'].max()
    most_recent_count = group['Count'].iloc[-1]
    return most_recent_count / highest_count

In [ ]:
babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

# Define the function to compute RTP
def compute_rtp(count_series):

    highest_count = count_series.max()
    most_recent_count = count_series.iloc[-1]
    return most_recent_count / highest_count

# Filter data for Jennifer
jennifer_data = babynames_f[babynames_f['Name'] == 'Jennifer']

In [ ]:
# Construct a Series containing our Jennifer count data
jennifer_counts = jennifer_data['Count']
print(jennifer_counts)
# Then, find the RTP using the function define above
rtp = compute_rtp(jennifer_counts)
print("\nRTP : ",rtp)

Now, let's use `.groupby` to compute the RTPs for *all* names in the dataset.

You may see a warning message when running the cell below. As discussed in lecture, `pandas` can't apply an aggregation function to non-numeric data (it doens't make sense to divide "CA" by a number). By default, `.groupby` will drop any columns that cannot be aggregated.

In [ ]:
# Results in a TypeError
#rtp_table = f_babynames.groupby("Name").agg(ratio_to_peak)
#rtp_table
babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

def compute_rtp(group):

    highest_count = group['Count'].max()
    most_recent_count = group['Count'].iloc[-1]
    return most_recent_count / highest_count

rtp_table = babynames_f.groupby('Name').apply(lambda x: compute_rtp(x)).reset_index(name='RTP')

rtp_table

In [ ]:
# Find the RTP fro all names at once using groupby as describe in lec slides
babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

def compute_rtp(group):

    highest_count = group['Count'].max()
    most_recent_count = group['Count'].iloc[-1]
    return most_recent_count / highest_count
rtp_table = babynames_f.groupby('Name').apply(lambda x: compute_rtp(x)).reset_index(name='RTP')

print(rtp_table)

To avoid the warning message above, we explicitly extract only the columns relevant to our analysis before using `.agg`.

In [ ]:
# Recompute the RTPs, but only performing the calculation on the "Count" column
babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

def compute_rtp(count_series):

    highest_count = count_series.max()
    most_recent_count = count_series.iloc[-1]
    return most_recent_count / highest_count

rtp_table = babynames_f.groupby('Name')['Count'].apply(compute_rtp).reset_index(name='RTP')
rtp_table

In [ ]:
# Rename "Count" to "Count RTP" for clarity
# Recompute the RTPs, but only performing the calculation on the "Count" column
babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

def compute_rtp(count_series):

    highest_count = count_series.max()
    most_recent_count = count_series.iloc[-1]
    return most_recent_count / highest_count

rtp_table = babynames_f.groupby('Name')['Count'].apply(compute_rtp).reset_index(name='Count RTP')
rtp_table

In [ ]:
# What name has fallen the most in popularity?
babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

def compute_rtp(count_series):

    highest_count = count_series.max()
    most_recent_count = count_series.iloc[-1]
    return most_recent_count / highest_count

rtp_table = babynames_f.groupby('Name')['Count'].apply(compute_rtp).reset_index(name='Count RTP')
name_fallen_most = rtp_table.loc[rtp_table['Count RTP'].idxmin()]

name_fallen_most

We can visualize the decrease in the popularity of the name "?:"

In [ ]:
def plot_name(*names):
    fig = px.line(babynames_f[babynames_f["Name"].isin(names)],
                  x = "Year", y = "Count", color="Name",
                  title=f"Popularity for: {names}")
    fig.update_layout(font_size = 18,
                  autosize=False,
                  width=1000,
                  height=400)
    return fig
# pass the name into plot_name
plot_name("-")

In [ ]:
# Find the 10 names that have decreased the most in popularity
babynames_f['Count'] = pd.to_numeric(babynames_f['Count'], errors='coerce')

def compute_rtp(count_series):

    highest_count = count_series.max()
    most_recent_count = count_series.iloc[-1]
    return most_recent_count / highest_count

rtp_table = babynames_f.groupby('Name')['Count'].apply(compute_rtp).reset_index(name='Count RTP')
top_10_decreased = rtp_table.nsmallest(10, 'Count RTP')
top_10_decreased

In [ ]:
top_10_decreased = rtp_table.nsmallest(10, 'Count RTP')

fig = px.bar(top_10_decreased, x='Name', y='Count RTP', 
             title='Top 10 Names That Have Decreased the Most in Popularity',
             labels={'Count RTP': 'Ratio to Peak (RTP)', 'Name': 'Baby Name'},
             color='Count RTP')

fig.update_layout(
    xaxis_title='Name',
    yaxis_title='Ratio to Peak (RTP)',
    font_size=14,
    autosize=False,
    width=800,
    height=400
)

fig.show()

For fun, try plotting your name or your friends' names.